<p>
  paths works!
</p>
<form class="form-inline" >
  <div *ngFor="let path of paths">
    <label for="path-input-{{path.id}}">{{path.shorthand}}</label>
    <input type="number" min="0" max="10" value="0" id="path-input-{{path.id}}" [ngModel]="path.value" name="pathvalue-{{path.id}}" #inputpath (change)="onChange(path.id,inputpath.value)">
  </div>
</form>

<p>I am paths debug</p>
<form class="form-inline">
  <div *ngFor="let path of paths">
      {{path.shorthand}}:{{path.value}} &nbsp;
  </div>
  Bless cost {{pPoints}}
</form>

