<p>
  dominion works!
</p>
<form class="form-inline" >
   <label for="dominion">Dom</label>
    <input type="number" min="1" max="10" value="1" id="dominion" [ngModel]="dominion" name="dominion" #dominioninput (change)="onChange(dominioninput.value,'dominion')">
   <label for="order">Ord</label>
    <input type="number" min="-3" max="3" value="0" id="order" [ngModel]="order" name="order" #orderinput (change)="onChange(orderinput.value,'order')">
   <label for="production">Prd</label>
    <input type="number" min="-3" max="3" value="0" id="production" [ngModel]="production" name="production" #productioninput (change)="onChange(productioninput.value,'production')">
   <label for="heat">Heat</label>
    <input type="number" min="-3" max="3" value="0" id="heat" [ngModel]="heat" name="heat" #heatinput (change)="onChange(heatinput.value,'heat')">
   <label for="growth">Grw</label>
    <input type="number" min="-3" max="3" value="0" id="growth" [ngModel]="growth" name="growth" #growthinput (change)="onChange(growthinput.value,'growth')">
   <label for="fortune">Frt</label>
    <input type="number" min="-3" max="3" value="0" id="fortune" [ngModel]="fortune" name="fortune" #fortuneinput (change)="onChange(fortuneinput.value,'fortune')">
   <label for="magic">Mgc</label>
    <input type="number" min="-3" max="3" value="0" id="magic" [ngModel]="magic" name="magic" #magicinput (change)="onChange(magicinput.value,'magic')">
</form>

<p>I am dominion debug</p>
<form class="form-inline">
Dom:{{dominion}} &nbsp; Ord:{{order}} &nbsp; Prod:{{production}} &nbsp; Heat:{{heat}} &nbsp; Growth:{{growth}} &nbsp; Fortune:{{fortune}} &nbsp; Magic: {{magic}} &nbsp; scales cost {{sPoints}}
</form>

