<p>
  imprisonment works!
</p>
<form name="imprisonment" (change)="ngOnChanges()">
  <input type="radio" name="imprisonment" [value]="0" [(ngModel)]="impPoints" > Awake (+0) <br>
  <input type="radio" name="imprisonment" [value]="150" [(ngModel)]="impPoints"> Dormant (+150)<br>
  <input type="radio" name="imprisonment" [value]="250" [(ngModel)]="impPoints"> Imprisoned (+250)
</form>

<p>Imprisonment debug {{impPoints}}</p>
<div *ngFor="let log of logs">{{log}}</div>

