<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }} - {{pretenderPoints}}
  </h1>
 </div>
<div class="container" style="text-align:center"><app-nations-list></app-nations-list></div>
<div class="container" style="text-align:center"><app-paths [(pPoints)]="pathPoints" (pPointsChange)="ngOnChanges()"></app-paths></div>
<div class="container" style="text-align:center"><app-dominion [(sPoints)]="scalePoints" (sPointsChange)="ngOnChanges()"></app-dominion></div>
<div class="container" style="text-align:center"><app-imprisonment  [(impPoints)]="imprisonmentPoints" (impPointsChange)="ngOnChanges()"></app-imprisonment></div>
<div class="container" style="text-align:center"><app-pretenders></app-pretenders></div>

debug: {{pretenderPoints}} = {{startingPoints}} + {{imprisonmentPoints}} - {{scalePoints}} - {{pathPoints}}
