<div>Nations</div>
<select [(ngModel)]="selectedNation" class="nations">
  <option [ngValue]="defaultNation" selected>{{defaultNation.name}}</option>
  <option *ngFor="let nation of nations"
      [ngValue]="nation">
    {{nation.name}}
  </option>
</select>

<p *ngIf="selectedNation!=null">Selected Nation: {{selectedNation.name}}</p>

